build/
bin/
out/
cmake-build-*/
_deps/


CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
compile_commands.json
CTestTestfile.cmake
cmake_install.cmake
Makefile


.idea/
.vscode/

*.o
*.obj
*.so
*.dylib
*.a
*.exe
*.dll


.DS_Store
Thumbs.db


__pycache__/
*.pyc
*.egg-info/
.pytest_cache/